
<div id="uploads" class="container">
  <div class="row justify-content-md-center">
    <div class="h1 col col-md-auto">
      <u>Trileuco HR Test App</u>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="h5 col col-md-auto">
      Upload new image
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <%= render 'form', upload: @upload %>
    </div>
  </div>
</div>
